<h1>Dragonball Page</h1>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>

    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (input)="name.set(textName.value)"
      #textName
    >

    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(+numberPower.value)"
      #numberPower
    >

    <button
      class="mt-2 btn btn-primary"
      (click)="addCharacter()">
      Agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ul>
      @for (character of dragonballService.characters(); track character.id; let idx = $index) {
        @if (character.power > 500) {
          <li>
            <span>{{ idx + 1 }} - {{ character.name }}</span>
            <strong [style.color]=" character.power > 9000 ? 'red' : '' ">({{ character.power }})</strong>
          </li>
        }@else {
          <li>No hay nadie</li>
        }
      }
    </ul>
  </div>
</section>
